/* =============
    Footer
============= */
/* =============
    Footer
============= */
footer {
    background-color: $gray;
    height: 90px;




    ul {
        align-items: center;
        display: flex;
        justify-content: space-between;

        padding: 15px 70px;

        li {

            i {
                color: $white;
                font-size: rem-calc(60);

            }


        }
    }
}
