/* =============
    About
============= */
#about {

    div {
        background-image: url("../img/aboutHero.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 300px;
        @include lg{
            height:400px;
        }
        @include xl{
            height: 510px;
        }


        article {
            color: white;
            display: grid;
            grid-template-areas: ". iconic ." ". tattoo .";
            grid-template-columns: 1.1fr 1fr 1.1fr;
            padding-top: 110px;
            text-align: center;

            @include md{
                padding-top: 70px;
                grid-template-areas: ". iconic ." ". tattoo .";
                grid-template-columns: 1.6fr 1fr 1.6fr;

            }
            @include lg{
                padding-top: 125px;
                grid-template-areas: ". iconic ." ". tattoo .";
                grid-template-columns: 2.1fr 1fr 2.1fr;

            }
            @include xl{
                padding-top: 160px;
                grid-template-areas: ". iconic ." ". tattoo .";
                grid-template-columns: 3fr 1fr 3fr;

            }



            h1 {
                font-family: 'Lobster', cursive;
                font-size: rem-calc(100);
                grid-area: iconic;
                text-align: center;
                @include md{
                    font-size: rem-calc(120);
                }
                @include lg{
                    font-size: rem-calc(150);
                }
                @include xl{
                    font-size: rem-calc(200);
                }
            }

            h2 {

                background-color: $red;
                font-family: 'Pirata One', cursive;
                font-size: rem-calc(60);
                grid-area: tattoo;
                text-align: center;
                @include md{
                    font-size: rem-calc(75);
                }
                @include lg{
                    font-size:rem-calc(90);
                    margin-top:-10px;

                }
                @include xl{
                    font-size:rem-calc(120);
                    margin-top:-30px;
                }



            }
        }

}
h3{
    font-size: rem-calc(30);
    font-family: 'Gentium Book Basic', serif;
    color:$white;
    text-align: center;
    background-color: $blackbg;
    padding: 60px 0 20px;
    @include md{
        padding-top: 80px;
    }
    @include xl{
        padding-top: 100px;
    }
}
    p {
        font-family: 'Barlow', sans-serif;
        font-size: rem-calc(16);
        font-weight: 500;
        line-height: rem-calc(19);
        padding: 0px 27px 60px;
        text-align: justify;
        background-color: $blackbg;
        color:$white;

        @include md{

        text-align:center;
        padding: 0 127px 80px;
        font-size: rem-calc(18);
        line-height: rem-calc(26);
    }
    @include lg{
        padding: 0px 200px 80px;
    }
    @include xl{
        padding: 0px 300px 100px;
        font-size: rem-calc(20);
    }
}
}
