/* =============
    Chris
============= */
#chris{
    padding-top: 130px;
    h1{
        font-family: 'Pirata One', cursive;
        text-align: center;
        color:$red;
        font-size: rem-calc(45);
    }
    div{
    background-color: $blackbg;
    display: grid;
    grid-template-areas:
    "chris"
    "text"
    "sub"
    "grid"
    "button";
    grid-gap:18px;

    div{
        grid-area:chris;
        height: 245px;
        background-image: url("../img/chrisHero.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    p{
        text-align: justify;
        padding: 0 27px;
        color:$white;
        font-size: rem-calc(16);
        line-height: rem-calc(19);
        font-family: 'Barlow', sans-serif;
    }

    h3{
        font-size: rem-calc(30);
        font-family: 'Gentium Book Basic', serif;
        color:$white;
        text-align: center;
    }

    ul{
        padding: 0 12px;
        grid-area:grid;
        display: grid;
        grid-template-areas:
        "item-1 item-2"
        "item-3 item-3";
        grid-gap:12px;
        grid-template-rows: 200px 400px;

        li {
                a {
                    background-position: center;
                    background-size: cover;
                    display: inline-block;
                    height: 100%;
                    width: 100%;
                }
            }

        li:nth-child(1){
            grid-area:item-1;
            a{
            background-image: url("../img/gallery/9.png");
        }


        }
        li:nth-child(2){
            grid-area:item-2;
            a{
            background-image: url("../img/gallery/19.jpg");
        }


        }
        li:nth-child(3){
            grid-area:item-3;
            a{
            background-image: url("../img/gallery/12.jpg");
        }

        }

    }

    article{
        padding-left:60%;
        padding-bottom: 10px;
        padding-right: 10px;
        p{
            text-align: center;
            padding:7px;
        span{
            display: none;
        }
    }
    }

}
}
