/* =============
    Contact
============= */
#contact{
background-color: $blackbg;

h1{
    font-family: 'Pirata One', cursive;
    text-align: center;
    color:$red;
    font-size: rem-calc(45);
}
}
