/* =============
    Base
============= */
body {
    background-image: url("../img/texture.jpg");
    background-size: 80%;
    background-attachment: fixed;
 background-position: center;
 background-repeat: repeat;
 @include lg{
     background-size: 60%;
 }
 @include xl{
     background-size: 50%;
 }

    h1,
    h2,
    h3,
    h4,
    h5,
    h5,
    p {
        font-weight: normal;
        margin: 0;
        padding: 0;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
        }
    }
}

a:link,
a:visited {
    text-decoration: none;
    transition: 0.25s;
}



.link-button{
    background-color: $gray;
    border: 5px solid $red;
    a:link,
    a:visited {
        font-family: 'Gentium Book Basic', serif;
        color:$white;
        text-decoration: none;
        transition: 0.25s;
        font-size: rem-calc(22);
    }
    a:hover, a:active{
        font-family: 'Gentium Book Basic', serif;
        color:$red;

    }
}
.link-button:hover, .link-button:active{
        background-color: $black;

}

.xl-lockin{
    @include xl{
    display:grid;;
    grid-template-areas:". content .";
    grid-template-columns: auto 1440px auto;
}
    .xl-lockin-content{
        @include xl{
        grid-area:content;
    }
    }

}
